body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    justify-content: center;
    padding:7% 1%;
}

#header {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 50px;
}

#header h1 {
    padding: 0;
}

#content {
    max-width: 80vw;
    text-align: center;
    padding: 20px;
    margin: 20px;
    line-height: 1.2em;
}

#poster {
    -webkit-box-shadow: 0px 20px 41px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 20px 41px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 20px 41px 0px rgba(0,0,0,0.75);
    width: 50vh;
}

#desc {
    margin: 10px;
    font-size: 1.1em;
}

#details {
    margin: 10px 0;
    font-size: 0.8em;
}

#details .title {
    font-weight: bold;
}

#details div {
    margin: 5px 0;
}

.align{
    margin-left: 0px;
    text-align: left;
}