@font-face{
  font-family: Montserrat;
  src: url(../public/fonts/Montserrat-Medium.ttf);
}
body {
	background-size: cover;
	background-position: center;
	font-family: Montserrat !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}
.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48%;
  left: 48%;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: deepskyblue;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color:white;
z-index: 999999;
}
h1,h2,h3,h4,h5,p{
  font-weight: normal;
}
#udaanlogo {
	position: absolute;
	top:15%;
	left:42%;
	height: auto;
	width:17%;
	opacity: 1;
  z-index: 999;
	animation: pullup 2s ease-in;
  transition-delay: 10s;
 }
@keyframes pullup {
 from {
 opacity:0;
 transform:translateY(10%);
}
 to {
 opacity:1;
}
}
@media only screen and (max-width: 768px) {
    #udaanlogo {
		top:15%;
    left:35%;
		width:40%;
    }
}
@media only screen and (max-width: 425px) {
    #udaanlogo {
        left:20%;
		width:60%;
    }
}
.logo-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

/** particles js **/
canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url('../images/background.png');
  background-size: 70%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.monument{
  width: 30vw;
  height: auto;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: center;
}

.content{
  width:50vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding :20px 30px !important;
  justify-content: center;

}
.tab{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.event-poster{
    width: 240px;  
    height: auto;
    margin:0px !important;
}

.fancy-button{
  padding:10px;
  border-radius: 7px;
  margin:10px;
  background-color:white;
  cursor: pointer;
}

.fancy-button:hover {
  -ms-transform: translateY(-10px); /* IE 9 */
  -webkit-transform: translateY(-10px); /* Safari */
  transform: translateY(-10px);
  box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
  transition-duration: 0.7s;
}

#team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#team .title {
    text-transform: lowercase;
    margin: 5px 0;
    font-size: 0.8rem;
}

#team .name {
    text-transform: uppercase;
    margin: 5px 0;
     font-size: 0.8rem;
}
.team-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 80vh;
    max-width: 80vw;
    margin: auto;
    z-index: 50;
    display: none;
}
#vicechair {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#committee {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-bottom: 10px;
}

#black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 40;
    display: none;
}
.app-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#ss{
  width:100px;
  height: auto;
}
/*---- Contact us page ----*/
@media only screen and (max-width: 768px) {
    
    .text-align {
        text-align: center;
    }
    .section-divide {
        flex-wrap: wrap;
    }
    .content{
       width:50vw;
    }
    #team .title,#team .name {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 425px) {
  .monument{
    display: none;
  }
  .content{
    width: 100%;
    padding: 0px 10px !important;
    height: auto;
}
    #menuToggle{
      top:20px;
      left: 20px;
    }

  #particles-js{
  background-size: 100%;
  background-position: 50% 90%;
}
}
  a{
    color: black !important;
    text-decoration: none;
  }
  i{
      margin: 0px 10px;
      padding:15px;
      border-radius: 50%
    }
    i:hover{
      color: black;
      -ms-transform: translateY(-10px); /* IE 9 */
      -webkit-transform: translateY(-10px); /* Safari */
      transform: translateY(-10px);
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transition-duration: 0.7s;
    }
    .fa-facebook-square, .fa-instagram,.fa-apple,.fa-android{
      font-size: 3em;
    }

.btn{
  font-size: 1.5em;
  color: white;
  background-image: url('../images/wave_blue.png');
  display: inline-block;
  padding: 20px 50px;
  overflow: hidden;
  background-color: #fff;
  background-position: -20% -50%;
  background-repeat: repeat-x;    
  transition: background-position 1s ease;
  width:30%;
  height:50px;
}
.btn-invert {
  color: #000;
  background-color:#fff;
}
.btn:hover {
  color:white !important;
  background-position: 100% 50%;
}
#dev{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.dev-image{
  width: 200px;
  border:solid white 2px;
  border-radius:100%;
  background-color: white;
  text-align: center !important;
}
.face ,.wink{
  width:200px;
  height: 200px;
}
.dev-desc{
  display: flex;
  flex-direction: column;
}
.wink{
  display: none;
}
